<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Transform your text into amazing ASCII art with AsciiCraft, the ultimate text-to-art generator.">
    <meta name="keywords" content="ASCII art, text generator, web app, React, Express">
    <meta name="author" content="waylake">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="AsciiCraft: The Text-to-Art Generator">
    <meta property="og:description" content="Create stunning ASCII art from your text with ease.">
    <meta property="og:type" content="website">
    <title>AsciiCraft: The Text-to-Art Generator</title>
    <link href="/styles/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="root"><%- app %></div>
    <script src="/bundle.js"></script>
</body>
</html>
